* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: transparent;
    padding: 0 40px;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    box-shadow: none;
}

header nav {
    display: flex;
    gap: 25px; 
    margin-top: 40px;
}


nav a {
    font-size: 16px;    
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

main {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    width: fit-content;
    
}

.cards-row-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.cards-row {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.happening-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.happening-layout {
    display: flex;
    gap: 30px;
}

.card {
    width: 362px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 186px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card .title {
    position: absolute;
    left: 20px;
    bottom: 220px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.card-bottom {
    background: white;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

.card-bottom p {
    font-size: 10px;
    font-weight: 700;
    color: #8A8787;
    margin-bottom: 10px;
}

.time {
    font-size: 10px;
    color: #8A8787;
}

.big-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;    
}

.big-card, .bottom-wide {
    width: 758px;
    height: 430px;
    position: relative;
}

.big-card img, .bottom-wide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.overlay-title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.side-column {
    display: flex;
    flex-direction: column;
    gap: 120px; 
}

.side-img {
    width: 362px;
    height: 212px;
    border-radius: 5px;
    object-fit: cover;
}

.bottom-wide {
    margin-top: 30px;
}

footer {
    margin-top: 80px;
    background: #243043;
    color: #818687;
    height: 201px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    margin-bottom: 10px;
}

.footer-right p {
    color: white;
    max-width: 250px;
}
